/* global */
html {
   font-family: 'Times New Roman', Times, serif;

}


/*main grid*/
body {
   display: grid;
   grid-template: 
      "navbar navbar navbar navbar" 15vh 
      "hero hero hero hero" 60vh 
      "cta cta cta cta" 40vh
      "categories categories categories categories" 60vh
      "carousel carousel carousel carousel " 39vh
      "wwith wwith wwith wwith" 40vh
      "footer footer footer footer" 20vh 
      / 3fr 3fr 3fr 3fr;
      
}


.navbar{
   grid-area: navbar;
   
}


.Logo{
   width: clamp(10vh, 20vh, 15vh);
    height:auto;
}
.heroImage{
   grid-area: hero;
  
   
}

.heroText{
   grid-area: cta;
   
}

.categories{
   grid-area: categories;
   
}

.carousel{
   grid-area: carousel;
   
}

.workedWith{
   grid-area: wwith;
   
}

.footer{
   grid-area: footer;
   
}


/*navbar*/
.navbar{
   box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.navGrid{
   width:auto;
   display: grid;
   grid-template: "Logo Link1 Link2 Link3" 
               / 3fr 1fr 1fr 1fr;
   justify-items: flex-start;
   list-style: none;
   place-items: center;
   gap: 0.5em;
}

.navbar .Logo{
   grid-area: Logo;
   scale:100%;
}

.navGrid button{
   box-shadow: rgba(0, 0, 0, 0.07) 0px 0.1em 0.1em, rgba(0, 0, 0, 0.10) 0px 0.2em 0.2em, rgba(0, 0, 0, 0.07) 0px 0.4em 0.4em, rgba(0, 0, 0, 0.07) 0px 0.8em 0.8em, rgba(0, 0, 0, 0.07) 0px 1.4em 1.4em;
   font-size: clamp(0.7em, 3em, 1em);
   border: none;
   text-shadow: 0.1em #000;
   text-align: center;
   height: clamp(2em, 4em, 5em);
   width: clamp(4em, 7em, 9em);
   font-family: 'Source Sans Pro';
   font-style: normal;
   font-weight: 500;
   font-display: swap;
   padding: clamp(0em, 0.1em, 1em);
   text-justify: newspaper;
   transition: 0.2s ease-in-out 0s;
}

.navGrid button:hover{
   transition: 0.2s;
   box-shadow: rgba(0, 0, 0, 0.07) 0em 0em 0.2em, rgba(0, 0, 0, 0.07) 0px 0em 0.4em, rgba(0, 0, 0, 0.07) 0px 0em 0.8em, rgba(0, 0, 0, 0.07) 0px 0em 0.16em, rgba(0, 0, 0, 0.07) 0em 0em 2em;
}



/*hero*/

.heroImage{
  margin-top: 10em;
   background-image: url(https://r2w3e3h5.rocketcdn.me/wp-content/uploads/2020/03/printer-3.gif);
   background-size: contain;
   background-clip: none;
   background-position: center;
   background-repeat: no-repeat;
   display: grid;
   grid-template: "leftTop centerTop rightTop"
                  "left center right"
                  "leftBot centerBot rightBot" / 1fr 1fr 1fr;
   align-items: center;  
                
}

.heroImage p{
   grid-area: rightTop;
   width: 10em;
   margin-top: -1em;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   background-color: rgba(94, 89, 89, 0.10);
   border-radius: 9%;
   border-style: solid;
   border-width: 0.1em;
   padding: 0.5em;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 300;
   font-size: 2em;
   color: white;
   text-shadow: 0.1em 0.1em rgba(162,162,162,255);
   
}

.heroImage span{
   color: #e85d00;
}

/* Cta buttons and animations */
.CTA{
   display: grid;
   grid-template: "left right"
                  "left1 right1" 
                  "left2 right2"/ 6fr 6fr;
   width: 100vw;
   align-items:flex-end;
}
.CTA button{
   background-color: #466ed4;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 900;
   font-size: 1.5em;
   color: white;
   width: 20em;
   justify-self: center;
   border-radius: 9%;
  
}

.test{
   grid-area: center;
   height: 10em;
}

.ctaLeft{
   grid-area: left;
   height: 4em;
   align-items: center;
   box-shadow: -0.5em 0.5em rgba(162,162,162,255);
}

.ctaRight{
   grid-area: right;
   height: 4em;
   box-shadow: 0.5em 0.5em rgba(162,162,162,255);
}

.ctaRight:hover{
   transition: 0.5s;
   box-shadow: 1em 1em rgba(162,162,162,255);
   transform: translateY(-6px)
   
}

.ctaRight:hover::after{
   transition: 0.5s;
   transform: translateY(6px);
   box-shadow: 0.5em 0.5em rgba(162,162,162,255);
}

.ctaLeft:hover{
   transition: 0.5s;
   box-shadow: -1em 1em rgba(162,162,162,255);
   transform: translateY(-6px)
   
}

.ctaLeft:hover::after{
   transition: 0.5s;
   transform: translateY(6px);
   box-shadow: 0.5em 0.5em rgba(162,162,162,255);
}

