/* global */
html {
   font-family: 'Times New Roman', Times, serif;

}


/*main grid*/
body {
   display: grid;
   grid-template: 
      "navbar navbar navbar navbar" 15vh 
      "hero hero hero hero" 60vh 
      "cta cta cta cta" 40vh
      "categories categories categories categories" 60vh
      "carousel carousel carousel carousel " 39vh
      "wwith wwith wwith wwith" 40vh
      "footer footer footer footer" 20vh 
      / 3fr 3fr 3fr 3fr;
      
}


.navbar{
   grid-area: navbar;
   
}


.Logo{
   width: clamp(10vh, 20vh, 15vh);
    height:auto;
}
.heroImage{
   grid-area: hero;
  
   
}

.heroText{
   grid-area: cta;
   
}

.categories{
   grid-area: categories;
   
}

.carousel{
   grid-area: carousel;
   
}

.workedWith{
   grid-area: wwith;
   
}

.footer{
   grid-area: footer;
   
}


/*navbar*/
.navbar{
   box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.navGrid{
   width:auto;
   display: grid;
   grid-template: "Logo Link1 Link2 Link3" 
               / 3fr 1fr 1fr 1fr;
   justify-items: flex-start;
   list-style: none;
   place-items: center;
   gap: 0.5em;
}

.navbar .Logo{
   grid-area: Logo;
}

.navGrid button{
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
   font-size: clamp(0.7em, 3em, 1em);
   border: none;
   text-shadow: 0.1em #000;
   text-align: center;
   height: clamp(2em, 4em, 5em);
   width: clamp(4em, 7em, 9em);
   font-family: 'Source Sans Pro';
   font-style: normal;
   font-weight: 500;
   font-display: swap;
   padding: clamp(0em, 0.1em, 1em)
   text-justify: newspaper;

}


/*hero*/

.heroImage{
  
   background-image: url(https://r2w3e3h5.rocketcdn.me/wp-content/uploads/2020/03/printer-3.gif);
   background-size: contain;
   background-clip: none;
   background-position: center;
   background-repeat: no-repeat;
   display: grid;
   grid-template: "leftTop centerTop rightTop"
                  "left center right"
                  "leftBot centerBot rightBot" / 1fr 1fr 1fr;
   align-items: center;               
}

.heroImage p{
   grid-area: rightTop;
   width: 15em;
   margin-bottom: clamp(4rem, 5rem, 10rem);
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   background-color: #466ed4;
   border-radius: 9%;
   border-style: solid;
   border-width: 0.1em;
   border-color:#042fa0;
   padding: 0.5em;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 300;
   font-size: 0.65em;
   color: white
}

.hero{
   height: 100%;
   width: auto;
}
/*necesita un corte de linea

/* cta & box */

.heroText{
  display: grid;
  grid-template: "left rightTop"
                 "left rightBot" 
                 / 3fr 1fr;
   gap: 1em;
   justify-content: center;
   justify-items: center;
   background-image: url(https://i.ibb.co/n87Lpmr/banner-brown.jpg);
   background-size: cover;
   align-items: center;
}
/*button style*/

 /*button style*/

.banner{
   grid-area: left;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   text-align:left;
   font-size: 1em;
   color: ivory;
  
}
.ctaTop{
   grid-area: rightTop;
   height: 4em;
   align-items: center;
}

.ctaBot{
   grid-area:rightBot;
   height: 4em;
}


