/* global */

html {
   font-family: 'Times New Roman', Times, serif;
   background-color:  #dcdad7;
}


/*main grid*/
body {
   display: grid;
   grid-template: 
      "navbar navbar navbar navbar" 30vh
      "focus focus focus focus" 60vh 
      "cta cta cta cta" 20vh
      "intro intro intro intro" 50vh
      "wwith wwith wwith wwith" 80vh
      "footer footer footer footer" 10vh 
      / 3fr 3fr 3fr 3fr;
}


.navbar{
   grid-area: navbar;
   width:100vw;
   
}

.heroImage{
   grid-area: focus;
  
   
}

.intro{
   grid-area: intro;
}

.heroText{
   grid-area: cta;
   
}


.Carousel{
   grid-area: focus;
   
}

.workedWith{
   grid-area: wwith;
   
}

.footer{
   grid-area: footer;
   
}


/*navbar*/

.navLinks{
   box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
   width:100%;
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;
   list-style: none;
   place-items: center;
   gap: 0.5em;
   padding-left: 0em;
   
}


.Logo img{
   grid-area: Logo;
   scale:100%;
}

.Logo{
   width: clamp(10vh, 20vh, 15vh);
   height:auto;
}

.navbar button{
   box-shadow: rgba(0, 0, 0, 0.07) 0px 0.1em 0.1em, rgba(0, 0, 0, 0.10) 0px 0.2em 0.2em, rgba(0, 0, 0, 0.07) 0px 0.4em 0.4em, rgba(0, 0, 0, 0.07) 0px 0.8em 0.8em, rgba(0, 0, 0, 0.07) 0px 1.4em 1.4em;
   font-size: 0.7em;
   border: none;
   text-shadow: 0.1em #000;
   text-align: center;
   height: 1fr;
   width: 80vw;
   font-family: 'Source Sans Pro';
   font-style: normal;
   font-weight: 500;
   text-justify: newspaper;
   cursor: pointer;
   transition: 0.2s ease-in-out 0s;
   background-color: #dcdad7;
}

.navbar button:hover{
   transition: 0.2s;
   box-shadow: rgba(0, 0, 0, 0.07) 0em 0em 0.2em, rgba(0, 0, 0, 0.07) 0px 0em 0.4em, rgba(0, 0, 0, 0.07) 0px 0em 0.8em, rgba(0, 0, 0, 0.07) 0px 0em 0.16em, rgba(0, 0, 0, 0.07) 0em 0em 2em;
}

.navbar ul li a{
   display:block;
   width: 100%;
}

/* /navbar */

/*hero*/
/*query needed for size */
.heroImage{
   padding-top: min(5vh, 15vh);
   background-image: url(https://r2w3e3h5.rocketcdn.me/wp-content/uploads/2020/03/printer-3.gif);
   background-size: 120%;
   background-clip: none;
   background-position: center;
   background-repeat: no-repeat;
   display: grid;
   grid-template: "leftTop centerTop rightTop"
                  "left center right"
                / 1fr 1fr 1fr;
   align-items: center;  
                
}
/* query needed for position */
.heroImage p{
   grid-area: leftTop;
   width: clamp(8em, 20vw, 10em);
   margin-top: em;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   background-color: rgba(94, 89, 89, 0.10)  !important;
   border-radius: 9%;
   border-style: solid;
   border-width: 0.1em;
   padding: 0.5em;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 300;
   font-size: clamp(0.8rem, 2vw, 2rem);
   color: white  !important;
   text-shadow: 0.1em 0.1em rgba(162,162,162,255);
   align-self: flex-start;
}

.heroImage span{
   color: #e85d00;
}

/* /hero */

/*intro(why should you use 3d)*/

.intro{
   display: grid;
   grid-template: "porque"
                  "top0"
                  "bot0"
                  "top1"
                  "bot1"
                  "top2"
                  "bot2"
                    ;
   background-color: rgba(94, 89, 89, 0.10);
   margin-top: 2em;
  
}
.porque{
   grid-area: porque;
   align-self: flex-start;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 300;
   font-size: clamp(1rem, 2.5vw, 2rem);   
   color: white;
   text-shadow: 0.1em 0.1em rgba(162,162,162,255);
   height: 100%;
   background-color:initial;
   margin: 0em 0em 0em 0em;
}

.porque span{ 
   color: #e85d00; 
}
.intro i{
   scale:200%;
}
.intro{
   font-family: 'lato';
   font-style: normal;
   font-weight: 900;
}
.introInnovation{
   grid-area: top0;
   display: grid;
   place-items: center;
   margin: 0em 0em 0em 0em;
}
.introPinnovation{
   grid-area: bot0;
   display: grid;
   place-items: center;
   margin: 0em 0em 0em 0em;
}
.introEffectivity{
   grid-area: top1;
   display: grid;
   place-items: center;
   background-color: rgba(94, 89, 89, 0.404);
   margin: 0em 0em 0em 0em;
}
.introPeffectivity{
   grid-area: bot1;
   display: grid;
   place-items: center;
   background-color: rgba(94, 89, 89, 0.404);
   margin: 0em 0em 0em 0em;
}
.introCost{
   grid-area:top2;
   display: grid;
   place-items: center;
   margin: 0em 0em 0em 0em;
}
.introPcost{
   grid-area:bot2;
   display: grid;
   place-items: center;
   margin: 0em 0em 0em 0em;
}
/* /intro */

/* Cta buttons and animations */
.CTA{
   
   display: grid;
   grid-template: "left"
                  "right" / 12fr;
   width: 100vw;
   align-items:center;
}
.CTA button{
   background-color: #466ed4;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 900;
   font-size: clamp(0.5em, 5vw, 1.5em);
   color: white;
   width: 20em;
   justify-self: center;
   border-radius: 9%;
  
}
/* media query needed */
.ctaLeft{
   transition: 0.5s;
   grid-area: left;
   height: clamp(1em, 40vh, 4em);
   align-items: center;
   
}
.ctaRight{
   transition: 0.5s;
   grid-area: right;
   height: 4em;
   
}
.ctaRight:hover{
   transition: 0.5s;
   transform: translateY(-6px)
   
}
.ctaLeft:hover{
   transition: 0.5s;
   transform: translateY(-6px)
   
}

/* Worked with */
  .workedWith{
   display: grid;
   height: 100%;
   place-content: center;

}
.workedWith p{
   
   width: clamp(8em, 20vw, 10em); ;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   background-color: rgba(94, 89, 89, 0.10);
   border-radius: 9%;
   border-style: solid;
   border-width: 0.1em;
   padding: 0.5em;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 300;
   font-size:clamp(0.5rem, 2vw, 1rem); 
   color: white;
   text-shadow: 0.1em 0.1em rgba(162,162,162,255);
}
.workedWithImg{
   width: clamp(60vw, 700px, 80vw); 
}

/*footer*/
.footer{
   justify-self: center;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 66vw; /* media query needed */
   border-bottom: 0.1em black solid;
}
.footer ul{
   gap: min(0.5em, 1em);
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer li{
   font-size: clamp(0.8rem, 2vw, 1rem);  
}
.footer img{
   width: 10vh;
}

/* carousel */
.Carousel{
   display: grid;
   grid-template: "right center left" / 5fr 1fr 5fr;
   height: 30vh;
   overflow: visible;
   transition: 0.5s;
   list-style: none;
}
.Carousel img{
   height: 30vh;
   border-radius: 50%;
   border-style: solid;
   border-color: #4e5458;
   
}
.carouselImage1{
   grid-area: right;
   opacity: 50%;
   justify-self: flex-end;
   
}
.carouselImage2{
   grid-area: center;
   transition: 0.5s;
   z-index: 2;
   height: 20vh;
   justify-self: center;
   min-width: 0; 
   min-height: 0;
}
.carouselImage2:hover{
   transition: 0.5s;
   transform: translateY(-12px);
}
.carouselImage3{
   grid-area:left;
   opacity: 50%;
   justify-self: flex-start;
}
/* carousel */

/* Founders */

.Founders{
   grid-area: focus;
   display: grid;
   grid-template: "ceo text" 40vh
                  "vice text2" 40vh
                  / 2fr 9fr;
   gap: 1em;
   place-items: center;
   padding: 2em;
}
.Founders img{
   margin-left: -2em;
}
.Founders h3{
   font-family: 'Source Sans Pro';
   font-style: normal;
   font-weight: 900;
   font-display: swap;
   text-justify: newspaper;
   
}
.Founders p{
   border-radius: 9%;
   border-style: solid;
   border-width: 0.1em;
   padding: 0.5em;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 300;
   font-size: clamp(0.8rem, 2vw, 2rem);
   color: white;
   text-shadow: 0.1em 0.1em rgba(162,162,162,255);
}

.Ceo{
   grid-area: ceo;
   width: 40vw;
   border-radius: 50%;
   overflow-y: scroll;
   border: solid white 0.2em;
}
.text1{
   grid-area: text;
}
.Vice{
   grid-area: vice;
   width: 40vw;
   border-radius: 50%;
   border: solid white 0.2em;
}
.text2{
   grid-area: text2;
}

.Location{
   grid-area: intro;
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;
   place-items: center;
}

.Location p{
   border-radius: 9%;
   border-style: solid;
   border-width: 0.1em;
   padding: 0.5em;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 300;
   font-size: clamp(0.8rem, 2vw, 2rem);
   color: white;
   text-shadow: 0.1em 0.1em rgba(162,162,162,255);
}

.Location h3{
   font-family: 'Source Sans Pro';
   font-style: normal;
   font-weight: 900;
   font-display: swap;
   text-justify: newspaper;
   
}
.City{
   margin-top: 10em;
   width: 80vw;
   border-radius: 50%;
   border: solid white 0.2em;
}
.text3{
   grid-area: text;
   grid-area: text3;
   margin-left: 0em;    
}
/* about */

/* huella de carbono */
.Caso{
   margin-top: 5em;
   display: flex;
   flex-direction: column;
   font-family: 'Source Sans Pro';
   place-items: center;
   width:100vw;
   }
.Caso img{
   height:60vw;
   width: 60vw;
   border-radius: 50%;
   border: solid white 0.2em;
}
.Caso h4{
   font-size: 80%;
   margin: 1em;

}

.Caso p{
   width: clamp(8em, 20vw, 10em); 
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   background-color: rgba(94, 89, 89, 0.10);
   border-radius: 9%;
   border-style: solid;
   border-width: 0.1em;
   padding: 0.5em;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 300;
   font-size: 80%;
   color: white;
   text-shadow: 0.1em 0.1em rgba(162,162,162,255);

}
/* /huella de carbono */

/* formulario */

.formBody{
   padding: 5em 5em 5em 5em;
   display: flex;
   place-content: center;
   background-color:rgba(94, 89, 89, 0.651);
   height: 100vh;
   width: 100vw;
 
}

form{
   display: flex;
   flex-direction: column;
   width:25;
   justify-content:center;
   background-color: rgba(94, 89, 89, 0.10);
   border-radius: 9%;
   border-style: solid;
   border-width: 0.1em;
   padding: 2em;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 300;
   font-size: 80%;
   color: white;
   text-shadow: 0.1em 0.1em rgba(162,162,162,255);
 
}

form input{
   border-radius: 2%;
   border: solid white 0.2em;
   width:20vw;
   margin:1em;
}
.presupuesto{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 300;
   font-size: 1em;
   padding: 0.5em;

}

iframe{
   margin: 2em;
   grid-column-start: 2;
   grid-column-end: 5;
   width: 80vw;
   height: 35vw;

}

 
/*query*/

/* Tablets ----------- */
@media only screen 
and (min-device-width : 768px)
and (max-device-width: 999px) {
   
   body {
      display: grid;
      grid-template: 
         "navbar navbar navbar navbar" 15vh
         "focus focus focus focus" 80vh 
         "cta cta cta cta" 20vh
         "intro intro intro intro" 40vh
         "wwith wwith wwith wwith" 80vh
         "footer footer footer footer" 10vh 
         / 3fr 3fr 3fr 3fr;
   }

   /*navbar*/
.navLinks{
   box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
   width:auto;
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;
   list-style: none;
   place-items: center;
   gap: 0.5em;
   
}
.Logo img{
   scale:100%;
}

.navbar button{
   box-shadow: rgba(0, 0, 0, 0.07) 0px 0.1em 0.1em, rgba(0, 0, 0, 0.10) 0px 0.2em 0.2em, rgba(0, 0, 0, 0.07) 0px 0.4em 0.4em, rgba(0, 0, 0, 0.07) 0px 0.8em 0.8em, rgba(0, 0, 0, 0.07) 0px 1.4em 1.4em;
   font-size: 0.7em;
   border: none;
   text-shadow: 0.1em #000;
   text-align: center;
   height: 1fr;
   width: 80vw;
   font-family: 'Source Sans Pro';
   font-style: normal;
   font-weight: 500;
   font-display: swap;
   padding: clamp(0em, 0.1em, 1em);
   transition: 0.2s ease-in-out 0s;
}
/* /navbar */

/* cta */

.CTA button{
   width: 10em;
}
.CTA{
   margin-top: 0em;
   display: grid;
   grid-template: "left right"
                  "left1 right1" 
                  "left2 right2"/ 6fr 6fr;
   align-items:flex-end;
}
.ctaLeft{
   transition: 0.5s;
   grid-area: left;
   height: clamp(1em, 40vh, 4em);
   align-items: center;
   box-shadow: -0.5em 0.5em rgba(162,162,162,255);
}
.ctaRight{
   transition: 0.5s;
   grid-area: right;
   height: 4em;
   box-shadow: 0.5em 0.5em rgba(162,162,162,255);
}
.ctaRight:hover{
   transition: 0.5s;
   box-shadow: 1em 1em rgba(162,162,162,255);
   transform: translateY(-6px)
   
}
.ctaLeft:hover{
   transition: 0.5s;
   box-shadow: -1em 1em rgba(162,162,162,255);
   transform: translateY(-6px)
   
}
/* /cta */



}


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1000px) {

/* Styles */

/*navbar*/
.navLinks{
   box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
   width:auto;
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;
   list-style: none;
   place-items: center;
   
   
}
   

.navbar button{
   box-shadow: rgba(0, 0, 0, 0.07) 0px 0.1em 0.1em, rgba(0, 0, 0, 0.10) 0px 0.2em 0.2em, rgba(0, 0, 0, 0.07) 0px 0.4em 0.4em, rgba(0, 0, 0, 0.07) 0px 0.8em 0.8em, rgba(0, 0, 0, 0.07) 0px 1.4em 1.4em;
   font-size: clamp(0.7em, 3em, 1em);
   border: none;
   text-shadow: 0.1em #000;
   text-align: center;
   height: clamp(2em, 4em, 5em);
   width: clamp(4em, 7em, 9em);
   font-family: 'Source Sans Pro';
   font-style: normal;
   font-weight: 500;
   text-justify: newspaper;
   transition: 0.2s ease-in-out 0s;
}
/* focus */
body {
   display: grid;
   grid-template: 
      "navbar navbar navbar navbar" 30vh
      "focus focus focus focus" 80vh 
      "cta cta cta cta" 20vh
      "intro intro intro intro" 40vh
      "wwith wwith wwith wwith" 80vh
      "footer footer footer footer" 10vh 
      / 3fr 3fr 3fr 3fr;
}
.heroImage{
   background-size: 70%;     
}

.heroImage p{
   grid-area: rightTop;
   align-self:flex-start;
}

/* cta */

.CTA{
   margin-top: 0em;
   display: grid;
   grid-template: "left right"
                  "left1 right1" 
                  "left2 right2"/ 6fr 6fr;
   width: 100vw;
   align-items:flex-end;
}
.ctaLeft{
   transition: 0.5s;
   grid-area: left;
   height: clamp(1em, 40vh, 4em);
   align-items: center;
   box-shadow: -0.5em 0.5em rgba(162,162,162,255);
}
.ctaRight{
   transition: 0.5s;
   grid-area: right;
   height: 4em;
   box-shadow: 0.5em 0.5em rgba(162,162,162,255);
}
.ctaRight:hover{
   transition: 0.5s;
   box-shadow: 1em 1em rgba(162,162,162,255);
   transform: translateY(-6px)
   
}
.ctaLeft:hover{
   transition: 0.5s;
   box-shadow: -1em 1em rgba(162,162,162,255);
   transform: translateY(-6px)
   
}

/* intro */
.intro{
   display: grid;
   grid-template: "top0 top1 top2"
                  "bot0 bot1 bot2" / 4fr 4fr 4fr ;
   background-color: rgba(94, 89, 89, 0.10);
}

.porque{
   grid-area: top0;
   align-self: flex-start;
   width: 10em;
   margin-top: -0.1em;
   padding: 0.5em;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 300;
   font-size: clamp(1rem, 2.5vw, 2rem);   
   color: white;
   text-shadow: 0.1em 0.1em rgba(162,162,162,255);
}
.intro i{
   scale:400%;
}
.intro{
   font-family: 'lato';
   font-style: normal;
   font-weight: 900;
}
.introInnovation{
   grid-area: top0;
   display: grid;
   place-items: center;
}
.introPinnovation{
   grid-area: bot0;
   display: grid;
   place-items: center;
}
.introEffectivity{
   grid-area: top1;
   display: grid;
   place-items: center;
   background-color: rgba(94, 89, 89, 0.404);
   margin: 0em 0em 0em 0em;
}
.introPeffectivity{
   grid-area: bot1;
   display: grid;
   place-items: center;
   background-color: rgba(94, 89, 89, 0.404);
   margin: 0em 0em 0em 0em;
}
.introCost{
   grid-area:top2;
   display: grid;
   place-items: center;
}
.introPcost{
   grid-area:bot2;
   display: grid;
   place-items: center;
}

/* about */

.Ceo{
   width: 20vw;
   border: solid white 0.2em;
}

.Vice{
   width: 20vw;
   border: solid white 0.2em;
   
}



.Location{
   margin-top: 20em;
}
.City{
   
   margin-top: 10em;
   width: 35vw;
   border-radius: 30%;
   max-width: 100%;
   border: solid white 0.2em; 
}
/* /about */

/* foot print */

.Caso img{
   height:30vw;
   width: 30vw;
   margin-top: -4em;
}
.Caso h4{
   font-size: 120%;
   margin: 1em;

}

.Caso p{
   font-size: 120%;
}

}